[wireguard]
name = "wg0"
device = "eth0"
network = "100.65.0.1/16"
port = 1194
mtu = 1420
firewall_mark = 51820
persistent_keepalive = "25s"
private_key = "private_key"
public_key = "public_key"

[server]
debug = true
port = 8999
address = "0.0.0.0"
secret_key = "secret"