.input {
    width: 15em;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    width: 5em;
}

.logo:hover {
    animation: logo-spin 2s infinite linear;
}

.title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}
